@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mukta+Mahee:wght@200&display=swap');

body {
    background: #fff;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h3, h3 {
    font-size: 1.75rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: #fffefe;
    padding: 20px 10px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    max-width: 1200px; 
    margin: 0 auto;
    background: white; 
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
    min-height: 500px; 
}

.hero-container.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.hero-image {
    flex: 1;
    margin-right: 20px; 
    transform: translateX(-20px);
    animation: slideInLeft 1s ease-in-out forwards 0.5s;
}

.hero-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-Text {
    flex: 2;
    padding: 20px;
    color: #333;
}

.hero-Text h1 {
    font-family: "Abril Fatface", times, serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 10px;
    animation: fadeInUp 1.5s ease-in-out forwards 1s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-Text p {
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    animation: fadeInUp 1.5s ease-in-out forwards 1.2s;
}

.video-button {
    display: flex;
    align-items: center;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ff6347;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 0;
    animation: fadeInUp 1.5s ease-in-out forwards 1.4s;
    transition: background-color 0.3s ease-in-out;
}

.video-button .play-icon {
    margin-right: 10px;
}

.video-button:hover {
    background-color: #3ce59678;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .hero-container {
        padding: 20px;
        flex-direction: column;
    }

    .hero-Text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .hero-Text p {
        font-size: 1.1rem;
        text-align: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .video-button {
        font-size: 1.1rem;
        margin: 20px auto 0;
    }

    .hero-image {
        margin: 20px auto;
        transform: translateY(-20px);
        animation: slideInUp 1s ease-in-out forwards 0.5s;
    }
}

@media (max-width: 768px) {
    .hero-container {
        text-align: center;
    }

    .hero-image {
        margin: 0 auto 20px;
        transform: translateY(-20px);
        animation: slideInUp 1s ease-in-out forwards 0.5s;
    }

    .hero-Text {
        transform: translateY(20px);
        animation: slideInUp 1s ease-in-out forwards 1s;
    }

    .hero-Text h1 {
        font-size: 1.8rem;
    }

    .hero-Text p {
        font-size: 0.9rem;
        margin: 0 auto;
        max-width: 100%;
    }

    .video-button {
        font-size: 1rem;
        margin: 20px auto 0;
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
