/* ModalVideo.css */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.close-button {
    position: absolute;
    top: -19px;
    right: -0px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2; 
    border-radius: 50%; 
    padding: 5px; 
}

.video-container {
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}
