@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mukta+Mahee:wght@200&display=swap');

html {
    scroll-behavior: smooth;
}

.header {
    position: relative;
    height: 98vh;
    background: url('/images/StockCake-Artist in Nature_1720769966.jpg') no-repeat center center/cover;
    color: white;
    overflow: hidden;
    perspective: 1000px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;
    animation: fadeIn 3.5s ease forwards;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transform: rotateY(20deg);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out, transform 0s ease-in-out;
    opacity: 0;
    z-index: 3;
    transform: translateY(-100%);
}

.nav.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 10px 0; /* Reduced the margin to decrease the distance between buttons */
    perspective: 500px;
}

.nav-links button {
    background: none;
    border: none;
    font-family: 'Mukta Mahee', arial, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.nav-links button:hover {
    color: #f39c12;
    transform: translateZ(10px);
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    animation: fadeIn 3.5s ease forwards;
    transform: rotateY(20deg);
}

.menu-icon.open {
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 300px;
    perspective: 1000px;
}

.hero-text h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    margin: 0;
    opacity: 0;
    animation: fadeIn 3.5s ease forwards;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transform: rotateY(-10deg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0 20px;
    animation: fadeIn 3.5s ease forwards;
    text-shadow: 2px 2px 4px rgb(110, 110, 110);
    
    color: white;
}

.scroll-down {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 7px 20px;
    border-radius: 25px;
    cursor: pointer;
    animation: bounce 3s infinite;
    display: inline-block;
    margin-top: 170px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateZ(20px);
}

.scroll-icon {
    font-size: 2rem;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        padding: 20px;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav.open {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }

    .menu-icon.open {
        color: black;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 4;
    }
}
